.DS_Store
sample0/.DS_Store
sample0/*.iml
sample0/.gradle
sample0/local.properties
sample0/.idea/workspace.xml
sample0/.idea/libraries
sample0/build
sample0/.idea
sample0/captures
sample0/.externalNativeBuild
sample0/jni/armeabi-v7a
sample0/jni/arm64-v8a
sample0/jni/include/**/*
sample0/jni/v8_src_include/**/*
sample0/app/.externalNativeBuild/**/*
